<div class = "container px-5 px-sm-0">
    <div　class = "table  table-inverse">
        <div class = "text-center">
            <h2>いいね一覧</h2>
            <% @favorite_posts.each do |post| %>
            <%= post.title %>
            <% end %>
        </div>
    </div>
</div>