<div class = "container">
    <h1>Art Post</h1>
    <p>
        あなたのイラストを投稿して応援したり<br>
        他の投稿者を応援しましょう！！
    </p>
    
    <div class = "row">
        <% @arts.each do |art| %>


            <!--画像-->
            <p>
            <%= image_tag art.image, size: "200x200" %>
            </p>

        <% end %>
    </div>
</div>