<!--投稿一覧-->
<div class = "container px-5 px-sm-0">
    <h1>イラスト一覧</h1>
    <div　class = "table  table-inverse">
        <div class = "row">
            <%= render 'index', arts: @arts %>
        </div>
    </div>
</div>